.blinking-cursor {
    font-weight: 100;
    font-size: 3rem;
    color: black;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}  
@keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  @keyframes navLinkFade {
    from{
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
  .toggle .line1,
  .toggle .line2,
  .toggle .line3 {
    transform: rotate(135deg);
  }
  @keyframes fade-slide-up {
    0% {
      opacity: 0;
      transform: translateY(5rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes pulse {
    0% {
      opacity: 1;
      transform: none;
    }
    50% {
      opacity: .8;
      color: white;
      text-shadow: 0 10px white, 0px 20px white, 0px 15px rgba(0,0,0,0.6), 0px 20px rgba(0,0,0,0.8);
      transform: scale(.8);
    }
    100% {
      opacity: 1;
      transform: none;
    }

  }


