body {
    font-family: $bodyFont;
    color: black;
}
em {
    font-style: italic;
    font-weight: 600;
}
.colour-one {
    color: $colourOne;
}
.colour-two {
    color: $colourTwo;
}
.colour-three {
    color: $colourThree;
}
.colour-four {
    color: $colourFour;
}
.colour-five {
    color: $colourFive;
}
