body {
    font-family: $bodyFont;
    color: black;
}
em {
    font-style: italic;
    font-weight: 600;
}
.header1 {
    color: $secondaryColour;
}
.header2 {
    color: $accentTwoColour;
}
.header3 {
    color: $primaryColour;
}
.header4 {
    color: $accentColour;
}
.header5 {
    color: $accentThreeColour;
}
.colour-one {
    color: $accentThreeColour;
  }
  .colour-two {
    color: $accentColour;
  }
  .colour-three {
    color: $secondaryColour;
  }
  .colour-four {
    color: $accentTwoColour;
  }
  .colour-five {
    color: $primaryColour;
  }