body {
    font-family: $bodyFont;
    font-weight: 700;
    color: white;
}
.header1 {
    color: $secondaryColour;
}
.header2 {
    color: $accentTwoColour;
}
.header3 {
    color: $primaryColour;
}
.header4 {
    color: $accentColour;
}
.header5 {
    color: $accentThreeColour;
}