
input {
    width: 100%;
}
textarea {
    font-size: 1.4rem;
    font-family: $bodyFont;
    width: 100%;
    border: none;
    margin: 10px 0;
    padding: 10px 15px;
}
textarea,
input {
    color: black;
    font-family: $bodyFont;
    border: 2px solid white;
    border-radius: 3px;
    background-color: rgba(232, 232, 232, 1);
}
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus {
    border: 2px solid $colourThree;
    color: black;
    background-color:white;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}
.contact-form {
    display: flex;
    flex-direction: column;
}