.header-background {
    background-color: $backgroundColour;
}
.header {
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header-center {
    width: 100%;
}
.hero-image-text {
    width: 100%;
    display: block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-down-arrow {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.header-h2 {
    display: inline;
    animation: fade-slide-up 0.7s 0.5s ease-out forwards; 
}
h1,
.header-h2,
.hero-h3 {
    color: white;
    opacity: 0;
    animation: fade-slide-up 0.7s 0.5s ease-out forwards;
}
.header-down-arrow i {
    animation: fade-slide-up 0.5s 0.5s ease-out forwards,
    pulse 2s 1s ease-out infinite;
    opacity: 0;
}
.hero-image h3 {
    margin-top: 40px;
}

.social-icons i {
    font-size: 2.5rem;
    margin: 15px;
    text-shadow: 1px 1px black;
    transition: 0.3s;
}
.social-icons-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50px;
}
.social-icon-circle {
    height: 70px;
    width: 70px;
    margin: 10px 0;
    background-color: black;
    border-radius: 50%; 
    box-shadow: 0px 0px 1px $colourThree;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons i:hover {
    text-shadow: -1px 1px $colourTwo, -2px 2px $colourThree, -3px 3px $colourFour;
    
}
.social-icon-circle:focus-within,
.social-icon-circle i:focus-within {
    text-shadow: -1px 1px $colourTwo, -2px 2px $colourThree, -3px 3px $colourFour;
}
.social-icon-circle:focus-within {
        border: 2px solid $colourFive;
        background:radial-gradient(circle, rgba(0,0,0,1) 90%, rgba(252,70,107,1) 10%);      
}
.social-icon-circle:hover {
    border: 2px solid $colourFive; 
}


.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.burger {
    outline: 0;
    display: none;
    cursor: pointer;
    border: 2px solid black;
    padding: 10px;
    border-radius: 50px;
}
.burger div {
    width: 30px;
    height: 5px;
    margin: 5px;
}
.burger:focus {
    border: 2px solid $colourFive;
    padding: 10px;
    border-radius: 50px;
    box-shadow:2px 2px 5px $colourThree;
}
.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: $colourFive;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 1.8rem;
    text-transform: lowercase;

}


nav {
    // position: absolute;
    // top: 30px;
    // right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    width: 100%;
}
.nav-links a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    background: $colourThree;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-links a:hover:after { 
    width: 100%; 
    left: 0; 
}
// .nav-links {
//     position: absolute;
//     right: 100px;
//     display: grid;
//     grid-auto-flow: column;
//     grid-gap: 50px;
//     justify-content: space-between;
//     font-size: 2vw;
//     transform: translateX(200%);
//     transition: transform 0.5s ease-in;
// }
// .nav-links li {
//     opacity: 1;
//     margin-right: 20px;
//     z-index: 100;
// }

// .burger div {
//     text-align: center;
//     width: 30px;
//     height: 5px;
//     margin: 7px 0;
//     transition: all 0.3s ease;
// }
// .nav-active { 
//     transform: translateX(-10%);
// }
// .nav-links a {
//     color: $colourFive;
//     text-decoration: none;
//     letter-spacing: 1px;
//     font-weight: 400;
//     text-transform: lowercase;
// }

#scroll {
    position: fixed;
    top: 36%;
    right: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.scroll-item {
    border:3px solid $colourFive;
    border-radius: 25px;
}
.scroll-item:hover,
.scroll-item-active {
    background-color: $colourFour;
}
.scroll-item,
.scroll-item-active {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.scroll-item-active {
    border: 3px solid $colourThree;
}
// #first1{
//     height: 1100px;
//     top: 0px;
// }
// #second1 {
//     height: 1100px;
//      top: 800px;
// }
// #third1{
//     width: 1%;
//     height: 1000px;
//      top: 0px;
// }
// #fourth1 {
//     height: 1000px;
//     top: 3700px;
// }
// #fifth1 {
//     height: 400px;
//     top: 4300px;
// }
#first1,
#second1,
#third1,
#fourth1,
#fifth1 {
    width: 1%;
    position: absolute;

}

// ul { 
//     margin: 150px auto 0; 
//     padding: 0; 
//     list-style: none; 
//     display: table;
//     width: 600px;
//     text-align: center;
//   }
//   li { 
//     display: table-cell; 
//     position: relative; 
//     padding: 15px 0;
//   }
//   a {
//     color: #fff;
//     text-transform: uppercase;
//     text-decoration: none;
//     letter-spacing: 0.15em;
    
//     display: inline-block;
//     padding: 15px 20px;
//     position: relative;
//   }
  