.header-background {
    background-color: $backgroundColour;

}
.header {
    height: 98vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
// .header-left {
//     width: 4%;
//     display: flex;
//     justify-content: center;
// }
.header-center {
    width: 100%;
}
// .header-right {
//     display: flex;
//     flex-direction: column;
//     width: 4%;
//     justify-content: center;
//     align-items: center;
// }


.hero-image-text {
    width: 100%;
    display: block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line1 {
    background-color: $accentThreeColour;
}
.line2 {
    background-color: $accentColour;
}
.line3 {
    background-color: $secondaryColour;
}
.line4 {
    background-color: $accentTwoColour;
}
.line5 {
    background-color: $primaryColour;
}
.header-down-arrow {
    position: absolute;
    bottom: 5vh;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
}
.header-h2 {
    display: inline;
    animation: fade-slide-up 0.7s 0.5s ease-out forwards; 
}
h1,
.header-h2,
.hero-h3 {
    color: white;
    opacity: 0;
    animation: fade-slide-up 0.7s 0.5s ease-out forwards;
}

.header-down-arrow i {
    animation: fade-slide-up 0.5s 0.5s ease-out forwards,
    pulse 2s 1s ease-out infinite;
    opacity: 0;
}
.hero-image h3 {
    margin-top: 40px;
}

.social-icons i {
    font-size: 2.5rem;
    margin: 15px;
    text-shadow: 1px 1px black;
    transition: 0.3s;
}
.burger:hover,
.burger:focus {
    color: purple;
}
.social-icons-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50px;
}
.social-icon-circle {
    height: 70px;
    width: 70px;
    margin: 10px 0;
    background-color: black;
    border-radius: 50%; 
    box-shadow: 0px 0px 1px $secondaryColour;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icons i:hover {
    text-shadow: -1px 1px $accentThreeColour, -2px 2px $accentColour, -3px 3px $accentTwoColour;
}
.social-icon-circle:hover {
    border: 2px solid $primaryColour; 
}
nav {
    position: absolute;
    top: 30px;
    right: 60px;
}
.nav-links {
    position: absolute;
    right: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    justify-content: space-between;
    font-size: 2vw;
    transform: translateX(200%);
    transition: transform 0.5s ease-in;
}
.nav-links li {
    opacity: 0;
    margin-right: 20px;
}
.top-bar {
    display: flex;
    justify-content: space-between;
}
.burger {
    display: block;
    cursor: pointer;
}
.burger div {
    text-align: center;
    width: 30px;
    height: 5px;
    margin: 7px 0;
    transition: all 0.3s ease;
}
.nav-active { 
    transform: translateX(-10%);
    z-index: 1;
}
.nav-links a {
    color: $primaryColour;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: lowercase;
}
.nav-links a:hover {
    padding-bottom: 2px;
    border-bottom: 1px solid $secondaryColour;
}

#scroll {
    position: fixed;
    top: 36%;
    right: 60px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.scroll-item {
    border:3px solid $primaryColour;
    border-radius: 25px;
}
.scroll-item:hover,
.scroll-item-active {
    background-color: $accentTwoColour;
}
.scroll-item,
.scroll-item-active {
    width: 25px;
    height: 25px;
    margin: 15px;
}
.scroll-item-active {
    border: 3px solid $secondaryColour;
}
#first1{
    // height: 1100px;
    // top: 0px;
}
#second1 {
    // height: 1100px;
    // top: 800px;
}
#third1{
    // width: 1%;
    // height: 1000px;
    // top: 0px;
}
#fourth1 {
    // height: 1000px;
    // top: 3700px;
}
#fifth1 {
    // height: 400px;
    // top: 4300px;
}
#first1,
#second1,
#third1,
#fourth1,
#fifth1 {
    width: 1%;
    position: absolute;

}
