$bodyFont:'Gothic A1';


$colourOne: #1e91d6;
$colourTwo: #53d769;
$colourThree: #fecb2e;
$colourFour: #fd9426;
$colourFive: #fc3d39;
$backgroundColour: black;

// $colourOne: #61d095;
// $colourTwo: #2ca58d;
// $colourThree: #e0bad7;
// $colourFour: #809bce;
// $colourFive: black;
// $backgroundColour: black;






.line1 {
    background-color: $colourOne;
}
.line2 {
    background-color: $colourTwo;
}
.line3 {
    background-color: $colourThree;
}
.line4 {
    background-color: $colourFour;
}
.line5 {
    background-color: $colourFive;
}
