$bodyFont:'Gothic A1';
// $primaryColour: #106fb2;
// $primaryColour: #ff5666;
// $secondaryColour: #04444e;
// $accentColour: #5dd228;
// $backgroundColour: #FFFBF2;


$accentThreeColour: #1e91d6;
$accentColour: #53d769;
$secondaryColour: #fecb2e;
$accentTwoColour: #fd9426;
$primaryColour: #fc3d39;
$backgroundColour: black;

