a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 75%;
}

.line1 {
  background-color: #1e91d6;
}

.line2 {
  background-color: #53d769;
}

.line3 {
  background-color: #fecb2e;
}

.line4 {
  background-color: #fd9426;
}

.line5 {
  background-color: #fc3d39;
}

body {
  font-family: "Gothic A1";
  color: black;
}

em {
  font-style: italic;
  font-weight: 600;
}

.colour-one {
  color: #1e91d6;
}

.colour-two {
  color: #53d769;
}

.colour-three {
  color: #fecb2e;
}

.colour-four {
  color: #fd9426;
}

.colour-five {
  color: #fc3d39;
}

.header-background {
  background-color: black;
  background-image: url(../assets/buchla.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.header-background:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.header {
  height: 98vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header-center {
  width: 100%;
}

.hero-image-text {
  width: 100%;
  display: block;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-down-arrow {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 1;
}

.header-h2 {
  display: inline;
  -webkit-animation: fade-slide-up 0.7s 0.5s ease-out forwards;
          animation: fade-slide-up 0.7s 0.5s ease-out forwards;
}

h1,
.header-h2,
.hero-h3 {
  color: white;
  opacity: 0;
  -webkit-animation: fade-slide-up 0.7s 0.5s ease-out forwards;
          animation: fade-slide-up 0.7s 0.5s ease-out forwards;
}

.header-down-arrow i {
  -webkit-animation: fade-slide-up 0.5s 0.5s ease-out forwards, pulse 2s 1s ease-out infinite;
          animation: fade-slide-up 0.5s 0.5s ease-out forwards, pulse 2s 1s ease-out infinite;
  opacity: 0;
}

.hero-image h3 {
  margin-top: 40px;
}

.social-icons i {
  font-size: 2.5rem;
  margin: 15px;
  text-shadow: 1px 1px black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-icons-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: 50px;
}

.social-icon-circle {
  height: 70px;
  width: 70px;
  margin: 10px 0;
  background-color: black;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 1px #fecb2e;
          box-shadow: 0px 0px 1px #fecb2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-icons i:hover {
  text-shadow: -1px 1px #53d769, -2px 2px #fecb2e, -3px 3px #fd9426;
}

.social-icon-circle:focus-within,
.social-icon-circle i:focus-within {
  text-shadow: -1px 1px #53d769, -2px 2px #fecb2e, -3px 3px #fd9426;
}

.social-icon-circle:focus-within {
  border: 2px solid #fc3d39;
  background: radial-gradient(circle, black 90%, #fc466b 10%);
}

.social-icon-circle:hover {
  border: 2px solid #fc3d39;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  z-index: 500;
  height: 8vh;
}

.burger {
  outline: 0;
  display: none;
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
  border-radius: 50px;
}

.burger div {
  width: 30px;
  height: 5px;
  margin: 5px;
}

.burger:focus {
  border: 2px solid #fc3d39;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 2px 5px #fecb2e;
          box-shadow: 2px 2px 5px #fecb2e;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  z-index: 150;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  text-shadow: 3px 2px black;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: lowercase;
  border-bottom: 2px solid #53d769;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 10px;
  width: 100%;
}

.nav-links a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 5px;
  background: #fecb2e;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-links a:hover:after {
  width: 100%;
  left: 0;
  border-style: none;
}

#scroll {
  position: fixed;
  top: 36%;
  right: 60px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll-item {
  border: 3px solid #53d769;
  border-radius: 25px;
}

.scroll-item:hover,
.scroll-item-active {
  background-color: #fecb2e;
}

.scroll-item,
.scroll-item-active {
  width: 25px;
  height: 25px;
  margin: 15px;
}

.scroll-item-active {
  border: 3px solid white;
  -webkit-box-shadow: 0px 0px 1px black;
          box-shadow: 0px 0px 1px black;
}

#first1,
#second1,
#third1,
#fourth1,
#fifth1 {
  width: 1%;
  position: absolute;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 5rem;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

.toggle .line1,
.toggle .line2,
.toggle .line3,
.toggle .line4,
.toggle .line5 {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@-webkit-keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  50% {
    opacity: .8;
    color: #1e91d6;
    text-shadow: 0 10px #53d769, 0px 20px #fecb2e, 0px 30px #fd9426, 0px 40px #fc3d39;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
  50% {
    opacity: .8;
    color: #1e91d6;
    text-shadow: 0 10px #53d769, 0px 20px #fecb2e, 0px 30px #fd9426, 0px 40px #fc3d39;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

input,
button {
  font-size: 1.4rem;
  font-family: "Gothic A1";
  margin: 10px 0;
  padding: 10px 15px;
}

input {
  width: 100%;
  -webkit-box-shadow: inset -5px 5px 5px -7px rgba(0, 0, 0, 0.75);
          box-shadow: inset -5px 5px 5px -7px rgba(0, 0, 0, 0.75);
}

textarea {
  font-size: 1.4rem;
  font-family: "Gothic A1";
  border: none;
  -webkit-box-shadow: inset -5px 5px 5px -7px rgba(0, 0, 0, 0.75);
          box-shadow: inset -5px 5px 5px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  border: none;
  margin: 10px 0;
  padding: 10px 15px;
}

textarea,
input {
  border: 2px solid #fc3d39;
  border-radius: 5px;
}

textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus {
  border: 2px solid #1e91d6;
  color: black;
  background-color: #e8e8e8;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-size: 62.5%;
  overflow-x: hidden;
}

h1 {
  margin: 40px 0 20px 0;
  font-size: 5rem;
  z-index: 5;
  text-shadow: 1px 1px black;
}

h2 {
  font-size: 2rem;
  margin-bottom: 50px;
  border-bottom: 2px solid #fc3d39;
}

h3 {
  font-size: 2rem;
  margin-bottom: 25px;
  line-height: 2.5rem;
  border-bottom: 2px solid #1e91d6;
  display: inline-block;
}

h1,
h2,
h3 {
  font-weight: 700;
}

p {
  font-size: 1.3rem;
  line-height: 1.9rem;
  font-weight: 400;
}

img {
  max-width: 100%;
}

button {
  text-transform: lowercase;
  background-color: #fc3d39;
  padding: 15px 50px;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  -webkit-box-shadow: 2px 2px black;
          box-shadow: 2px 2px black;
}

button:hover {
  -webkit-box-shadow: 6px 6px black;
          box-shadow: 6px 6px black;
}

button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: black;
}

span i {
  font-size: 1.5rem;
  margin-left: 15px;
}

a:focus {
  outline: 0;
}

.nav-links a:focus {
  border-bottom: 1px solid #fecb2e;
}

i:hover, i:active, i:focus,
form:hover, form:active, form:focus,
section:hover, section:active, section:focus {
  outline: 0;
}

section:focus {
  border-top: 2px solid gold;
}

.portfolio-button-hidden {
  display: none;
}

.about-me {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 100px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 2.5fr;
      grid-template-columns: 1fr 2.5fr;
  -webkit-box-shadow: 20px 20px 60px #d9d9d9,  -20px -20px 60px #ffffff;
          box-shadow: 20px 20px 60px #d9d9d9,  -20px -20px 60px #ffffff;
}

.about-me-text {
  margin: 0 60px;
}

.about-me-img img {
  border-radius: 50%;
  margin-left: 30px;
  -webkit-box-shadow: 10px 10px black;
          box-shadow: 10px 10px black;
}

.contact {
  padding-top: 50px;
}

.skills {
  margin: 100px 0 50px 0;
  padding: 100px 0 0 0;
  background-color: rgba(0, 0, 0, 0.03);
}

.skill-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  justify-items: center;
  margin: 50px 0;
}

.icon-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-text i {
  text-shadow: 2px 2px black;
}

.skill-p-tag {
  margin-top: 15px;
  visibility: hidden;
  color: black;
}

.icon-text:hover .skill-p-tag {
  visibility: visible;
}

.portfolio-icons i,
.skill-icons i {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.portfolio-icons i:hover,
.skill-icons i:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.skill-div i:hover .skill-div {
  visibility: visible;
}

i {
  font-size: 6rem;
}

.skill-icons img {
  width: 80px;
}

.portfolio-icons i {
  font-size: 3rem;
}

.portfolio1 {
  margin-top: 400px;
  position: relative;
  margin: 0 auto;
}

.portfolio-item {
  margin: 100px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.portfolio-button {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card1 {
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
}

.card2 {
  -ms-grid-columns: 1.5fr 1fr;
      grid-template-columns: 1.5fr 1fr;
}

.portfolio-text1 {
  padding: 0 0 0 30px;
}

.portfolio-text2 {
  padding: 0 30px 0 0;
}

.portfolio-icons {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.portfolio-icons i {
  text-shadow: 1px 1px black;
}

.portfolio-icons i:first-of-type {
  color: #1e91d6;
}

.portfolio-icons i:nth-of-type(2) {
  color: #53d769;
}

.portfolio-icons i:nth-of-type(3) {
  color: #fecb2e;
}

.portfolio-icons i:nth-of-type(4),
.portfolio-icons i:nth-of-type(6) {
  color: #fd9426;
}

.portfolio-icons i:nth-of-type(5) {
  color: #fc3d39;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  grid-gap: 100px;
}

.contact-photo p {
  margin-top: 40px;
}

.contact-photo img {
  -webkit-filter: hue-rotate(240deg) saturate(3.3) grayscale(50%);
  filter: hue-rotate(1deg) saturate(3.3) grayscale(50%);
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
}

footer {
  margin-top: 75px;
  background-color: black;
}

footer p {
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

@media (max-width: 1200px) {
  .portfolio-button button {
    padding: 15px 25px;
  }
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
  }
  .social-icons-header {
    left: 25px;
  }
  #scroll {
    right: 30px;
  }
}

@media (max-width: 840px) {
  .container {
    width: 90%;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0;
    background-color: rgba(200, 200, 200, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    z-index: 100;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 22;
  }
  .nav-links a {
    font-size: 4rem;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 23;
    border-radius: 2px;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .top-bar {
    background: none;
  }
  #scroll {
    display: none;
  }
  .social-icons-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: absolute;
    bottom: 100px;
    left: 0;
  }
  .social-icon-circle {
    height: 70px;
    width: 70px;
    margin: 10px 0;
    background-color: black;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 1px #fecb2e;
            box-shadow: 0px 0px 1px #fecb2e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card1,
  .card2 {
    margin: 10px 0;
  }
  .skills {
    margin-top: 0;
  }
  .portfolio-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .portfolio-button {
    display: none;
  }
  .portfolio-button-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0 70px 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-button-hidden button {
    text-align: center;
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-button-hidden {
    display: none;
  }
  .about-me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 0;
    width: 90%;
  }
  .about-me-text {
    display: block;
    width: 80%;
  }
  .about-me-img img {
    margin-left: 0px;
    -webkit-box-shadow: 10px 10px black;
            box-shadow: 10px 10px black;
    width: 250px;
  }
  .about-me-img {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio1 {
    margin-top: 0px;
    position: relative;
    margin: 0 auto;
  }
  .portfolio-item {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
  }
  .portfolio-button {
    margin: 20px 0 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .card1 {
    -ms-grid-rows: 1fr 1.5fr;
        grid-template-rows: 1fr 1.5fr;
  }
  .card2 {
    -ms-grid-rows: 1.5fr 1fr;
        grid-template-rows: 1.5fr 1fr;
  }
  .p-item-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .portfolio1 {
    margin: 0px;
    padding: 0;
    position: relative;
    margin: auto;
  }
  .portfolio-text2,
  .portfolio-text1 {
    padding: 0;
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .portfolio-text2 h3,
  .portfolio-text1 h3 {
    margin: 25px 0;
  }
  .portfolio-icons {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 20px 0 0 0;
  }
  .skills {
    margin: 0px 0 50px 0;
    padding: 100px 0 0 0;
    background-color: rgba(0, 0, 0, 0.03);
  }
  .skill-icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
  }
  .portfolio-button a {
    padding: 0;
  }
  .contact-form {
    width: 100%;
    display: block;
  }
  .contact-photo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4fr;
        grid-template-columns: 1fr 4fr;
    grid-gap: 20px;
    padding-bottom: 20px;
  }
  .contact-photo-text p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}

@media (max-width: 610px) {
  .social-icons-header {
    bottom: 100px;
  }
  .social-icon-circle {
    height: 60px;
    width: 60px;
    margin: 10px 0;
  }
  .social-icon-circle i {
    font-size: 2rem;
  }
}

@media (max-width: 414px) {
  nav {
    top: 20px;
    right: 20px;
  }
  h1,
  .blinking-cursor {
    font-size: 2.8rem;
    margin-top: 0;
  }
  h2, h3 {
    font-size: 1.4rem;
  }
  .portfolio-button {
    margin: 30px 0 40px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  p,
  form input,
  textarea {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  button {
    width: 300px;
    height: 75px;
    margin: 0 0 10px 0;
  }
  .skill-icons i {
    font-size: 5rem;
  }
  .skills {
    margin: 0;
    padding: 50px 0 0 0;
  }
  .skill-icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    justify-items: center;
    margin: 10px 0;
  }
  .last-skill {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  form button {
    width: 100%;
  }
}

@media (max-width: 320px) {
  button {
    width: 250px;
    height: 60px;
    margin: 0 0 10px 0;
  }
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-center {
    margin-top: 120px;
  }
  .about-me {
    margin: 50px auto 40px;
  }
}
